
.tp {
    border-width: 3px;
    border-color: gray;
    border-style: solid;
    width: 45%;
    padding: 2% 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 150%;
    overflow: auto;
    background-color: aqua;
    border-radius: 15px;
    display: block;
    margin: 3em auto;  
    
}   

.tp ul {
    padding: 3px;
}

.menu{
    background: rgb(53, 53, 73);
    border-bottom: solid 5px #4faddb;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
    
}
h1, h2, h4 {
    text-align: center;
    text-shadow: 4px 2px 3px rgb(117, 117, 117);
}

.menu ul {
    justify-content: space-around;
}

.menu ul li{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.menu ul li a:visited, a:hover {
    color: rgb(98, 98, 236);
}
.menu ul li:hover{
    display:inline-block;
    background-color: white;
    color: rgb(98, 98, 236);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

body {
    background-color: rgb(14, 60, 66);
    margin: -13px;
    font-family: 'Oswald', sans-serif;
}
.tp table {
    width: 50%;
    table-layout: fixed;
    text-align: center;
    border: 1px solid black;
    margin-right:auto;
     margin-left:auto;
}

.tp table td {
    border: 1px solid black;
}
a {
    text-decoration: none;
}

li {
    display: inline-block;
}

p {
    text-align: justify;
}

@media (max-width: 520px){
    .menu ul li{
        float: none;
        margin: 20px;
        padding: 10px;
    }
    .menu {
        height: 180px;
        margin: 0;
    }
    .tp {
        width: 
        80%;
    }
}

.imagem {
    width: 300px;
    margin: 10px;
    float: right        ;
}